* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(66, 208, 243);
    padding: 18px 40px;
}

.brand {
    color: rgb(206, 206, 2);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

.nav-links a{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.cta {
    background-color: rgb(255, 255, 255);
    color: rgb(206, 206, 2);
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 60px;
    background-color: rgb(255, 255, 255);
}