* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 40px;
    background-color: rgb(85, 39, 39);
    margin: 100px;
}

.card {
    width: 270px;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card a {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

.card#amo{
    background-color: rgb(218, 82, 20);
}

.card#rudo{
    background-color: rgb(175, 39, 39);
}

.card#zanka{
    background-color: rgb(38, 195, 243);
}