* {
    box-sizing: border-box;
}

.blog {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px; 
    padding: 24px; 
    background-color: rgb(130, 130, 168);
    outline-color: rgb(247, 247, 152);
    outline-style: solid;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(#a12323 20%, rgb(138, 177, 196)50%) ;
}

.name {
    font-style: italic;
    color: rgb(247, 247, 152);
    margin: 20px auto;
    text-align: left;
    text-indent: 18px;
}

h1 {
    font-size: 42px;
    margin: 10px;
    color: rgb(247, 247, 152);
    font-style: italic;
    text-align: left;
    text-indent: 1px;
}

.created {
    color: rgb(247, 247, 152);
    font-style: italic;
    text-align: left;
    text-indent: 20px;
}

img {
    width: 95%;
    margin: 10px;
    box-shadow: 6px 6px 10px rgb(67, 67, 83);
}

.content {
    line-height: 1.6;
    font-size: 18px;
}

.content p {
    margin-bottom: 18px;
    width: 90%;
    margin: 30px;
    color: rgb(247, 247, 152);
    text-align: left;
}

.blog {
    width: 50%; 
    min-width: 500px;
    flex: 1;
    min-width: 0;
}

#two-columns {
    display: flex;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    margin: 48px auto;
    gap: 24px;
}

#sidebar-content {
    width: 250px;
    order: 2;
    margin-top: 24px;
    padding: 0px 12px;
}

#sidebar-content h2 {
    background-color: rgb(130, 130, 168);
    color: rgb(247, 247, 152);
    padding: 8px 16px;
    margin: 0px;
    border: 2px solid rgb(247, 247, 152);
    box-shadow: 0 0 8px;
}

#sidebar-content ul {
    margin: 0px 0px 36px;
    padding: 16px;
    list-style-type: none;
    background-color: rgb(130, 130, 168);
    border: 1px solid rgb(247, 247, 152);
    padding: 16px;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(247, 247, 152);
}

#sidebar-content ul li {
    padding: 8px 0px;
    border-bottom: 1px solid rgb(247, 247, 152);
}


#sidebar-content ul a {
    color: rgb(138, 233, 236);
    text-decoration: none;
    width: 250px;
}

#main-content {
    flex: 1;
    order: 1;
    margin-right: 16px;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#sidebar-content ul li a {
    display: block;
    padding: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#sidebar-content ul li a:hover {
    background-color: #6ac05f;
    color: rgb(247, 247, 152);
}
