* {
    box-sizing: border-box;
}
.blog {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px; 
    padding: 24px; 
    background-color: rgb(130, 130, 168);
    outline-color: rgb(247, 247, 152);
    outline-style: solid;
}

body {
    margin: 0px;
    font-family: sans-serif;
    color: black;
}

.name {
    font-style: italic;
    color: rgb(247, 247, 152);
    margin: 20px auto;
    text-align:left;
    text-indent: 18px;
}

h1 {
    font-size: 42px;
    margin: 10px;
    color:rgb(247, 247, 152);
    font-style: italic;
    text-align:left;
    text-indent: 1px;
}

.created {
    color:rgb(247, 247, 152);
    font-style: italic;
    text-align:left;
    text-indent: 20px;
}

img {
    width: 95%;
    margin: 10px;
    box-shadow: 6px 6px 10px rgb(67, 67, 83);
}

.content {
    line-height: 1.6;
    font-size: 18px;
}

.content p {
    margin-bottom: 18px;
    width: 90%;
    margin: 30px;
    color:rgb(247, 247, 152);
    text-align: left;
}
