* {
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.home {
    background-color: rgb(93, 226, 160);
    padding: 48px 0px;
}

.purple {
    background-color: rgb(204, 150, 211);
    padding: 48px 0px;
}

img {
    width: 600px;
    margin: 0px;
}
#purple {
    width: 300px;
    margin: 0px;
}

.single-column {
    /* background-color: aquamarine; */
    width: 50%;
    min-width: 800px;
    margin: 0px auto;
    text-align: center;
}

.pink {
    background-color: rgb(248, 108, 201);
    padding: 48px 0px;
}

img {
    width: 600px;
    margin: 0px;
}
#pink {
    width: 300px;
    margin: 0px;
}

.orange {
    background-color: rgb(235, 118, 64);
    padding: 48px 0px;
}

img {
    width: 600px;
    margin: 0px;
}
#orange {
    width: 300px;
    margin: 0px;
}

#pink2 .button,
#orange2 .button,
#purple2 .button {
    display: inline-block;
    background-color: #b7f5b7;
    border: 2px solid black;
    padding: 8px 18px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;