* {
box-sizing: border-box;
}

body {
margin: 0px;
font-family: sans-serif;
}
#p-1 {
margin: 10px;
background-color: grey;
padding: 20px;
}
#p-11 {
background-color: bisque;
}
#color {
background-color: red; 
}
#color2 {
background-color: blue;
}
#p-3 {
margin: 10px;
background-color: aqua;
padding: 20px;
}
#p-2 {
   
margin: 10px;
padding: 20px;
}
#p-33 {
background-color: cadetblue;
}
