* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(
        to left,
        rgb(47, 119, 40) ,
        rgb(185, 88, 22)
    );
}

.hero {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    height: 60vh;
}

.hero-image {
    background: linear-gradient(rgb(175, 156, 46)10%, rgb(185, 88, 22)40%);
text-align: center;}

.hero-text {
    background: linear-gradient(rgb(134, 175, 20)10%, rgb(47, 119, 40)40%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    color: rgb(217, 255, 0);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}

.gallery {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.gallery-images {
    background-color: rgb(207, 207, 207);
    border: 6px solid rgb(161, 189, 4);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 900px;
}

.gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}
