* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#don {
    width: 300px;
    margin: 24px;
    padding: 24px;
    border: 22px solid#4C2D06;
    background-color: #85500A ;
    box-shadow: 5px 5px 8px;
}
#ken {
    width: 300px;
    margin: 24px;
    padding: 24px;
    border: 22px solid  black;
    background-color: gainsboro;
    border-radius: 50%;
    box-shadow: 5px 5px 8px;
}
#pic {
    text-align: center;
    width: 350px;
    margin: 24px;
    padding: 50px;
    border: 22px solid #B38A58;
    background-color: #DBCDC6;
    font-family: serif;
    box-shadow: 5px 5px 8px;
}
